<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mapeando banco de dados legados com o framework Django</title>
   </head>
   <body>
      <h1>Mapeando banco de dados legados com o framework Django</h1>

      <hr>

      <form method = "POST">
         {% csrf_token %}
         {{form.as_p}}
         <button type="submit">Salvar</button>
      </form>

      <hr>

      <h3>Listagem dos produtos</h3>
      <table>
         <thead>
            <tr>
               <th>Produto</th>
               <th>Preço</th>
               <th>Quantidade</th>
            </tr>
         </thead>
         {% for value in listagem %}
         <tbody>
            <tr>
               <td>{{value.descricao}}</td>
               <td>{{value.valor}}</td>
               <td>{{value.quantidade}}</td>
            </tr>
         </tbody>
         {% endfor %}
      </table>
   </body>
</html>